/* static/styles.css */
body {
    background-color: #e2eed7;
    /* Replace with your desired color (hex code, color name, RGB, etc.) */
}

* {
    transition: all 1s linear;
}

/* 1. Define the animation keyframes */
@keyframes prize_reveal {
    25% {
        transform: rotateY(180deg) scale(1);
    }

    50% {
        transform: rotateY(450deg) scale(1.8);
    }

    100% {
        transform: rotateY(990deg) scale(1.3);
    }

}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.5vh);
    }
}

@keyframes rise_up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-30vh);
    }
}

@keyframes open_chest_rumble {
    0% {
        transform: rotateY(0deg);
    }

    7% {
        transform: rotateZ(-3deg);
    }

    14% {
        transform: rotateZ(3deg);
    }

    21% {
        transform: rotateZ(-3deg);
    }

    28% {
        transform: rotateZ(3deg);
    }

    35% {
        transform: rotateY(0deg);
    }

    100% {
        transform: translateY(-20vh);
    }
}

@keyframes open_chest_simple {
    100% {
        transform: translateY(-20vh)
    }
}

@keyframes close_chest_simple {
    0% {
        transform: translateY(-20vh)
    }

    100% {
        transform: translateY(0vh)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }


    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes swipe_up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes shift_in_right {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}






/* Generic */
#click-blocker {
    position: fixed;
    /* Stays in the viewport even when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Ensure it's on top of everything */
    /* Optional: make it invisible, but still block clicks */
    background-color: red;
    cursor: wait;
}

#score_display {
    position: fixed;
    top: 2vh;
    left: 4vw;
    font-size: 4vw;
    font-family: "Brush Script MT", cursive;
    z-index: 100;
}

.meter-bar {
    position: absolute;
    top: 4vh;
    left: 10vw;
    right: 10vw;
    height: 2vw;
    background: #00000030;
}

.meter-fill {
    height: 100%;
    background: #4caf50;
    top: 4vh;
    left: 10vw;
    height: 2vw;
    transition: width .3s;
}

#stage_indicator {
    display: none;
}

:root {
    --animation-speed: 2s;
}

.hidden {
    display: none !important;
}

/* Static style */

.prize {
    position: absolute;
    /* z-index: 5; */
    z-index: 1;
    transition: all 1s linear !important;

    /* TODO: CHANGE LATER back to 1 */
}

.prize_bag {
    z-index: 2;
}

.hook {
    position: absolute;
    z-index: 10;
    transition: all 1s linear;
}

.hook_left {
    transform: scaleX(-1);
}

#hook_right {}

.coin_stage_1,
.coin_stage_2 {
    width: 6vw;
    position: absolute;
    opacity: 1;
    transition: all 0.8s linear;
}

.occluder {
    z-index: 10;
    transition: all 1.8s ease-in-out;
}

.chest_bottom_image {
    position: absolute;
    z-index: 5;
    transform-origin: top;
}

.chest_top_image {
    position: absolute;
    z-index: 6;
    transform-origin: bottom;
}



/*
Stage 1 animation positions
TODO: FIGURE OUT HOW TO MAKE THIS LESS REPETITIVE
*/

.prize-place-left-reset {
    /* left: 47vw !important;
    top: -15vh !important;
    opacity: 1; */
    transform: translateY(-100vh) translateX(25vw) !important;

}

/* Top mid*/
.prize-place-left-1 {
    /* left: 47vw !important;
    top: 10vh !important; */
    transform: translateY(-50vh) translateX(25vw) !important;
    visibility: visible;

}

/* Center mid*/
.prize-place-left-2 {
    /* left: 47vw !important;
    top: 50vh !important; */
    visibility: visible;
    transform: translateY(-10vh) translateX(25vw) !important;
}

.prize-place-right-reset {
    /* left: 47vw !important;
    top: -15vh !important;
    opacity: 1; */
    transform: translateY(-100vh) translateX(-25vw) !important;

}

/* Top mid*/
.prize-place-right-1 {
    /* left: 47vw !important;
    top: 10vh !important; */
    transform: translateY(-50vh) translateX(-25vw) !important;
    visibility: visible;

}

/* Center mid*/
.prize-place-right-2 {
    /* left: 47vw !important;
    top: 50vh !important; */
    visibility: visible;
    transform: translateY(-10vh) translateX(-25vw) !important;
}




/* Occluder animations */
.occluder-place-reset {
    top: -80vh !important;
}

.occluder-place-1 {
    top: 10vh !important;
}

/* Stage 2 hook animation */
.hook-position-reset {
    top: 10vh !important;
    left: 120vw !important;

}

.prize-position-reset {
    top: 10vh !important;
    left: 120vw !important;
}



/* 
Keyframe animations
*/
.prize_reveal_animation {
    animation: prize_reveal 1.5s linear forwards;
    /* z-index: 4; */
}

.open_chest_rumble_animation {
    animation: open_chest_rumble 2.5s ease-in-out forwards !important;
    animation-fill-mode: forwards !important;
}

.open_chest_simple_animation {
    animation: open_chest_simple 1s ease-in-out forwards;
}

.close_chest_simple_animation {
    animation: close_chest_simple 0.5s ease-in-out forwards;
}

.swipe_up_animation {
    animation: swipe_up 2s ease-in-out forwards;
}

.pulse_animation {
    animation: pulse 0.6s ease-in-out forwards;
}

.bounce_animation {
    animation: bounce 0.4s ease-in-out forwards;
}

.shift_out_left_animation {
    transition: transform 1.2s ease-in-out;

    /* Base position: In view (no translation) */
    transform: translateX(-100vw) !important;
}

.shift_out_up_animation {
    transition: transform 1.2s ease-in-out;

    /* Base position: In view (no translation) */
    transform: translateY(-100vh) !important;
}



.shift_in_right_animation {
    /* Base position: In view (no translation) */
    animation: shift_in_right 1.2s ease-in-out forwards;
}