/* static/styles.css */
body {
    background-color: #f7f6ea;
    /* Replace with your desired color (hex code, color name, RGB, etc.) */
}

* {
    transition: all 1.2s ease-in-out;
}

/* 1. Define the animation keyframes */
@keyframes prize_reveal {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: translateY(-100px);
    }

    60% {
        transform: translateY(-100px) rotateY(360deg);
    }

    100% {
        transform: translateY(-100px) rotateY(720deg);
    }
}

@keyframes open_chest {
    0% {
        transform: rotateY(0deg);
    }

    3% {
        transform: rotateZ(-3deg);
    }

    6% {
        transform: rotateZ(3deg);
    }

    9% {
        transform: rotateZ(-3deg);
    }

    12% {
        transform: rotateZ(3deg);
    }

    15% {
        transform: rotateZ(-3deg);
    }

    18% {
        transform: rotateZ(3deg);
    }

    21% {
        transform: rotateY(0deg);
    }

    28% {
        transform: rotateY(0deg);

    }

    100% {
        transform: translateY(-50px);
        z-index: -1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes swipe_up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes place_coin {}





/* Generic */

:root {
    --animation-speed: 2s;
}

.hidden {
    display: none !important;
}

/* Static style */

.prize {
    position: absolute;
    /* z-index: 5; */
    z-index: 1;
    transition: all 1.2s ease-in-out;

    /* TODO: CHANGE LATER back to 1 */
}

.hook {
    position: absolute;
    z-index: 5;
    transition: all 1.2s ease-in-out;
}

.hook_left {
    transform: scaleX(-1);
}

#hook_right {}

.coin_stage_1,
.coin_stage_2 {
    width: 6vw;
    position: absolute;
    opacity: 1;
    transition: all 1.2s ease-in-out;
}

.occluder {
    z-index: 4;
    transition: all 1.2s ease-in-out;
}

.chest_bottom_image {
    position: absolute;
    z-index: 2;
}

.chest_top_image {
    position: absolute;
    z-index: 3;
}



/*
Stage 1 animation positions
*/

.prize-place-reset {
    left: 47vw !important;
    top: -15vh !important;
    opacity: 1;
}

/* Top mid*/
.prize-place-1 {
    left: 47vw !important;
    top: 10vh !important;
    visibility: visible;

}

/* Center mid*/
.prize-place-2 {
    left: 47vw !important;
    top: 50vh !important;
    visibility: visible;

}

/* Occluder animations */
.occluder-place-reset {
    top: -60vh !important;
}

.occluder-place-1 {
    top: 10vh !important;
}

/* Stage 2 hook animation */
.hook-position-reset {
    top: 10vh !important;
    left: 120vw !important;

}

.prize-position-reset {
    top: 10vh !important;
    left: 120vw !important;
}




/* 
Choice task animations
*/
.prize_reveal_animation {
    animation: prize_reveal 2.5s ease-in-out forwards;
    /* z-index: 4; */
}

.open_chest_animation {
    animation: open_chest 3s ease-in-out forwards;
}

.swipe_up_animation {
    animation: swipe_up 2s ease-in-out forwards;
}

.pulse_animation {
    animation: pulse var(--animation-speed) ease-in-out forwards;
}






#dot {
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    /* Green */
    border-radius: 50%;
    position: absolute;
    /* Crucial for GSAP to control positioning */
    z-index: 10;
}