/* static/styles.css */
body {
    background-color: #f7f6ea;
    /* Replace with your desired color (hex code, color name, RGB, etc.) */
}

/* 1. Define the animation keyframes */
@keyframes prize_reveal {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: translateY(-100px);
    }

    60% {
        transform: translateY(-100px) rotateY(360deg);
    }

    100% {
        transform: translateY(-100px) rotateY(720deg);
    }
}

@keyframes open_chest {
    0% {
        transform: rotateY(0deg);
    }

    3% {
        transform: rotateZ(-3deg);
    }

    6% {
        transform: rotateZ(3deg);
    }

    9% {
        transform: rotateZ(-3deg);
    }

    12% {
        transform: rotateZ(3deg);
    }

    15% {
        transform: rotateZ(-3deg);
    }

    18% {
        transform: rotateZ(3deg);
    }

    21% {
        transform: rotateY(0deg);
    }

    28% {
        transform: rotateY(0deg);

    }

    100% {
        transform: translateY(-50px);
        z-index: -1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes swipe_up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@keyframes place_coin {}


.prize {
    position: absolute;
    z-index: 5;
    /* TODO: CHANGE LATER back to 1*/
}


.coin_stage_1,
.coin_stage_2 {
    width: 6vw;
    position: absolute;
    opacity: 1;
    transition: all 1.2s ease-in-out;

}

.occluder {
    z-index: 4;
    transition: all 1.2s ease-in-out;
}

.chest_bottom_image {
    position: absolute;
    z-index: 2;
}

.chest_top_image {
    position: absolute;
    z-index: 3;
}



:root {
    --animation-speed: 2s;
}

/* 3. The class that *starts* the animation (added by JavaScript) */
.prize_reveal_animation {
    animation: prize_reveal 2.5s ease-in-out forwards;
    /* z-index: 4; */
}

.open_chest_animation {
    animation: open_chest 3s ease-in-out forwards;
}

.swipe_up_animation {
    animation: swipe_up 2s ease-in-out forwards;
}

.pulse_animation {
    animation: pulse var(--animation-speed) ease-in-out forwards;
}

.hidden {
    visibility: none !important;
}



.coin-place-reset {
    left: 47vw !important;
    top: -15vh !important;
    opacity: 1;
}

/* Coin entrance movements*/
.coin-place-1 {
    /* Center Top (Initial drop) */
    left: 47vw !important;
    top: 10vh !important;
    visibility: visible;

}

.coin-place-2 {
    /* Center Mid */
    left: 47vw !important;
    top: 50vh !important;
    visibility: visible;

    /* transform: translate(-50%); */
}




.occluder-place-reset {
    top: -60vh !important;
}

.occluder-place-1 {
    top: 10vh !important;
}